<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>API Documentation | Sales Prediction API</title>
</head>

<body>

    <h1>API Documentation</h1>

    <div class="card">
        <h2>GET /</h2>
        <p><strong>Description:</strong> Homepage</p>
        <p><strong>Response:</strong> HTML document</p>
    </div>

    <div class="card">
        <h2>GET /docs</h2>
        <p><strong>Description:</strong> Returns available cards and usage.</p>
        <p><strong>Response:</strong> HTML document</p>
    </div>

    <div class="card">
        <h2>POST /model/predict-sales</h2>
        <p><strong>Description:</strong> Predicts sales for a store using an ML model.</p>

        <h3>Request Body</h3>

        <h4>Fields:</h4>
        <ul class="field-list">
            <li><strong>date</strong>: string - date for the prediction in the format DD/MM/YYYY</li>
            <li><strong>day_of_week</strong>: integer - day of the week, between 1 and 7</li>
            <li><strong>nb_customers_on_day</strong>: integer - expected number of customers</li>
            <li><strong>open</strong>: integer - if the shop is open (1) or not (0)</li>
            <li><strong>promotion</strong>: integer - if there's a promotion (1) or not (0)</li>
            <li><strong>school_holiday</strong>: integer - if there's school holiday (1) or not (0)</li>
            <li><strong>state_holiday</strong>: string - possible values: "0", "a", "b", or "c"</li>
            <li><strong>store_ID</strong>: integer - unique identifier of the store</li>
        </ul>

        <p>All fields are required.</p>

        <h4>Example:</h4>
        <pre>{
  "date": "04/06/2025",
  "day_of_week": 4,
  "nb_customers_on_day": 1254,
  "open": 1,
  "promotion": 0,
  "school_holiday": 1,
  "state_holiday": "c",
  "store_ID": 49
}</pre>


    <h3>Response</h3>

    <p>Returns a JSON object containing a numeric result.</p>

    <h4>Example:</h4>
    <pre>{
  "prediction": 12050.42
}</pre>

    </div>

</body>

</html>