<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Home | Sales Prediction API</title>
</head>
<body>
    <div class="card">
        <h1>Welcome to the Sales Prediction API</h1>
        <p>This API helps you predict store sales using Machine Learning.</p>
      
        <h2>Start Here</h2>
        <p>Visit the <a href="/docs">API documentation</a> to get a list with the endpoints and expected data.</p>

        <h2>Source code</h2>
        <p>You can find a repo with the source code <a target="_blank" href="https://github.com/DSML-march2025-luis/w12d3-mini-project-7-Iron-Kaggle-Redux">here</a>.</p>

      </div>      
</body>
</html>